MYSQL_HOST="localhost"
MYSQL_USER="root"
MYSQL_PASSWORD="password"
MYSQL_DATABASE="example"
BOT_TOKEN=""
BOT_CLIENT_ID=""
LOG_LEVEL="info"

# This is only used for text commands (commands that rely on message.content)
# text commands can only be used by bot admins for testing
PREFIX=">"

# IDs of guilds where the suburbs raid will take place
SUBURBS_GUILDS="id,id,id"

# ID of guild where slash commands should be registered while developing (faster than registering globally)
TESTING_GUILD_ID="id"
